/* .main-component {
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}

.side-bar {
  width: 17%;
  
  align-items: center;
  padding: auto;
  
}
.cards-area-main {
  display: flex;
  align-items: center;
}
.topics {
  align-items: center;
}

.topic-head {
  text-align: center;
}

.cards-area {
  display: flex;
  align-items: center;
}

.card {
  
  width: 400px;
  height: 400px;
  transform-style: preserve-3d;
  transition-delay: 0.15s;
}

.card:hover {
  transform: rotateY(180deg);
}

.front {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  width: 400px;
  height: 300px;
  position: absolute;
  backface-visibility: hidden;
  background-color: rgb(255, 167, 167);
  color: rgb(0, 0, 0);
}

.back {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  width: 400px;
  height: 300px;
  position: absolute;
  backface-visibility: hidden;
  background-color: rgb(186, 186, 255);
  color: rgb(0, 0, 0);
  transform: rotateY(180deg);
} */
/* .main-component {
  color: #00203f;
} */

.side-bar {
  width: 20%;

  align-items: center;
  padding: auto;
  background-color: #f9fafb;
  color: #111827;
  border: 0.5px solid #d1d5db;
  border-top: 0;
  /* height: max-content; */
}
.topic-head {
  color: #4951f5;
}
.cards-area-main {
  color: rgb(255, 255, 255);
}

/* .side-bar {
  width: 17%;

  align-items: center;
  padding: auto;
} */

.topic:hover {
  background-color: #eef0f1;
  cursor: pointer;
}

.topic.clicked {
  background-color: #28395c;
  color: #ffffff;
}

/* button:hover {
} */

.bar-and-cardarea {
  display: flex;
  flex-direction: row;
}

.cards {
  display: inline-block;
}

.card {
  color: #111827;
  display: inline-block;
  width: 15rem;
  height: 10rem;
  border-width: 1px;
  border-style: solid;
  border-color: #d6d6d6;
  /* border-color: #00203f; */
  padding: 3rem;
  margin: 1rem;
  /* background-color: #666; */
  cursor: pointer;
  user-select: none;
  border-radius: 0.7rem;
  box-shadow: #d1d5db;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.front {
  background-color: #eef0f1;
  backface-visibility: hidden;
}

.back {
  background-color: #eef0f1;
  backface-visibility: hidden;
}
/* .text {
  display: flex;
  justify-content: center;
  align-items: center;
} */

button {
  background-color: #4951f5;
  border: none;
  padding: 0.4rem;
  border-radius: 0.2rem;
  color: #ffffff;
  font-weight: 500;
  font-style: bold;
  font-size: medium;
  margin: 0.3rem;
}
button:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
input {
  padding: 0.45rem;
  border: 0.5px solid #7e7e7e;
  border-radius: 0.2rem;
}
