/* .main-component {
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}

.side-bar {
  width: 17%;
  
  align-items: center;
  padding: auto;
  
}
.cards-area-main {
  display: flex;
  align-items: center;
}
.topics {
  align-items: center;
}

.topic-head {
  text-align: center;
}

.cards-area {
  display: flex;
  align-items: center;
}

.card {
  
  width: 400px;
  height: 400px;
  transform-style: preserve-3d;
  transition-delay: 0.15s;
}

.card:hover {
  transform: rotateY(180deg);
}

.front {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  width: 400px;
  height: 300px;
  position: absolute;
  backface-visibility: hidden;
  background-color: rgb(255, 167, 167);
  color: rgb(0, 0, 0);
}

.back {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  width: 400px;
  height: 300px;
  position: absolute;
  backface-visibility: hidden;
  background-color: rgb(186, 186, 255);
  color: rgb(0, 0, 0);
  transform: rotateY(180deg);
} */

.side-bar {
  width: 17%;

  align-items: center;
  padding: auto;
}
.cards-area-main {
  color: black;
}

/* .side-bar {
  width: 17%;

  align-items: center;
  padding: auto;
} */

.topic:hover {
  background-color: rgb(189, 189, 189);
}

.topic.clicked {
  background-color: #666;
}

button:hover {
  background-color: #0056b3;
}

.bar-and-cardarea {
  display: flex;
  flex-direction: row;
}

.card {
  display: inline-block;
  width: 12rem;
  border-width: 0.1cm;
  border-style: solid;
  padding: 3rem;
  margin: 1rem;
}
