/* whole {
  position: sticky;
  z-index: 2;
} */
.whole {
  color: #111827;
}
nav {
  background-color: #ffffff;
  border: 0.5px solid #d1d5db;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  display: inline-block;
  /* padding: 3rem; */
  padding-left: 3rem;
  padding-right: 3rem;
  color: #111827;
  font-weight: 500;
}

li:hover {
  background-color: #f3f4f4;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: fixed; */
  width: 100%;
  /* background-color: #816ad6; */
  /* top: 0%;
  left: 0%; */
}

.heading {
  padding-right: 3rem;
  padding-left: 3rem;
  color: #4951f5;
}

.heading:hover {
  background-color: #f3f4f4;
}
a {
  text-decoration: none;
  color: black;
}
